<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awp.persistence.mapper.AccountMapper">
    <select id="getAccountByUserNameAndPassword" resultType="AccountAuthDto">
        select * from awp_account where user_name = ${userName} and  password = ${password};
    </select>
</mapper>